/* 전체 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:white;
}

li{
    list-style: none;
}

body.menu-opened {
    overflow: hidden;
}

body.menu-opened::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.65;
    z-index: 1;
}

/* header */
header{
    background-color: #000;
    padding-top: 15px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.head{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head .main-logo{
    display: flex;
    align-items: center;
}

.menu-container{
    margin-left: 30px;
    display: none;
}

.menu-container ul li:not(li:last-child){
    margin-right: 10px;
}

.menu-container li{
    margin-right: 10px;
}

.head ul{
    display: flex;
}

.head .main-area{
    display: flex;
}

.main-area nav{
    padding-right: 15px;
}

.main-area nav div:first-child, .main-area nav div:nth-child(3){
    display: none;
}

/* 토글 */
.toggle{
    position: relative;
    color: #000;
}

.tog-btn {
    top: 0;
    right: 0;
}

#toggleButton{
    background: #000;
    border: none;
} 

.tog-menu {
    position: fixed;
    top: 0;
    right: -10px;
    background-color: #fff;
    flex-direction: column;
    width: 66vw;
    height: 100vh;
    display: none;
    z-index: 2;
}

.tog-menu div{
    display: flex;
    flex-direction: column;
}

.tog-menu .id-box{
    width: 100%;
    padding: 20px 20px 0px 20px;
}

.tog-menu .id{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding: 0px 0px 15px 0px;
}

#closeButton{
    background: none;
    border: none;
    cursor: pointer;
}

.menus{
    width: 100%;
    padding: 40px 20px 0px 20px;
    text-align: right;
}

.menus div ul{
    padding-right: 20px;
}

.menus div ul li{
    padding-bottom: 14px;
}

.menus div:first-child{
    border-bottom: 1px solid #ccc;
}

.menu a{
    color: #000;
}

.menu li{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.tog-menu .menu{
    display: flex;
    flex-direction: column;
}

.as li{
    font-size: 15px;
    margin-bottom: 6px;
    color:  #ccc;
}

.tog-menu .as{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

/* section 1 */

.popular{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    /* padding-left: 20px; */
}

.pop{
    overflow: scroll;
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    padding-top: 15px;
}

.pop .pop-show:last-child{
    margin-right: 20px;
}

.pop::-webkit-scrollbar{
    display: none;
}

.pop-title{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
    align-items: center;
    padding-left: 20px;
}

.pop-title a{
    color: #ccc;
}

.pop-title div{
    border-bottom: 2px solid #ccc;
    display: flex;
    width: 154px;
    height: 20px;
    margin-left: 12px;
}

.pop-show{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pop-show .show-img img{
    width: 200px;
    height: 280px;
    border-radius: 10px;
}

.pop-show .pop-description ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

.pop-description strong{
    font-size: 20px;
}

.pop-description li:first-child{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
}

.pop-show .pop-description li{
    margin-bottom: 5px;
}

.pop-description li:nth-child(2){
    font-size: 12px;
    color: #ccc;
}

.pop-description li:nth-child(3){
    background-color: #2c2c2c;
    padding: 3px 10px;
    font-size: 13px;
    border-radius: 30px;
    color: white;
}

/* seciton2 */
.two .pop-title{
    display: flex;
    justify-content: space-between;
}

.two .pop-title div{
    width: 37%;
}

.two .pop-title p:nth-child(3){
    font-size: 12px;
    color: #ccc;
    text-decoration: underline;
    padding-right: 20px;
}

/* section3 */
.three{
    padding-bottom: 50px;
}

.three .pop-title{
    display: flex;
    justify-content: space-between;
}

.three .pop-title div{
    width: 43%;
}

.three .pop-title p:nth-child(3){
    font-size: 12px;
    color: #ccc;
    text-decoration: underline;
    padding-right: 20px;
}

/* footer */
footer{
    background-color: #000;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
}

.foot{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot p{
    margin-bottom: 6px;
}

/* tablet 768px */
@media screen and (min-width:768px)  {
 
/* toggle */
.tog-menu{
    width: 33vw;
}

/* section 1 */
.pop{
    overflow: scroll;
}


.pop-title{
    padding-right: 20px;
}

.pop-title div{
    width: 74%;
}


/* section 2 */
.two .pop-title div{
    display: block;
    width: 70%;
} 

.two .pop-title p:nth-child(3){
    padding-right: 0px;
}

/* section 3 */
.three .pop-title div{
    display: block;
    width: 72%;
}

.three .pop-title p:nth-child(3){
    padding-right: 0px;
}
}

/* pc 1024px */
@media screen and (min-width:1024px) {
    /* header */
    .head{
        width: 100%;
    }

    .menu-container{
        display: block;
    }

    .main-area nav{
        display: flex;
    }

    .main-area nav div:first-child, .main-area nav div:nth-child(3){
        display: block;
    }

    .toggle{
        display: none;
    }

    /* section1 */
   .pop{
        gap: 15px;
        margin-right: 20px;
    }

    .pop-title div{
        width: 81%;
    }

    .pop-description li:first-child{
        width: 150px;
    }

    .pop-show{
        width: 100%;
        height: 100%;
    }

    .show-img{
        width: 100%;
    }

    .pop-show .show-img img{
        width: 100%;
        object-fit: cover;
    }

    /* section2 */
    .two .pop-title div{
        width: 78%;
    }

    .two .pop-title p:nth-child(3){
        padding-right: 0px;
    }

    /* section3 */
    .three .pop-title div{
        width: 80%;
    }
    
    .three .pop-title p:nth-child(3){
        padding-right: 0px;
    }

}

/* pc 1440px */
@media screen and (min-width:1440px) {
    /* all seclect */
    header{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .head{
        width: 100%;
        max-width: 1200px;
    }

    section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section .popular{
        width: 100%;
        max-width: 1200px;
    }

    .menu-container{
        display: block;
    }

    .main-area nav{
        display: flex;
        margin-right: 10 px;
    }

    .main-area nav div:first-child, .main-area nav div:nth-child(3){
        display: block;
    }
    
    .toggle{
        display: none;
    }

    /* section1 */
    .pop{
        margin-left: 0px;
    }

    .pop-title{
        padding-left: 0px;
    }

    .pop-title div{
        width: 83%;
        margin-left: 20px;
    }

    .pop-show .show-img img{
        width: 224px;
        height: 316px;
    }

    .pop .pop-show:last-child{
        margin-right: 0px;
    }

    /* seciton2 */
    .two .pop-title div{
        width: 80%;
    }

    /* .two .pop-title p:nth-child(3){
        display: none;
    }    */

    /* section3 */
    .three .pop-title div{
        width: 82%;
    }

    /* .three .pop-title p:nth-child(3){
        display: none;
    }    */
}