*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color:white;
}

li{
  list-style: none;
}
body.menu-opened {
  overflow: hidden;
}

body.menu-opened::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.65;
  z-index: 1;
}

label{
  cursor: pointer;
}

.wrapper {
  position:relative; 
  min-height:100%;
}

.wrapper .list {
  padding-bottom:100px;
}

.wrapper footer {
  position:absolute; 
  width:100%; 
  bottom:0;
}

/* header */
header{
  background-color: #000;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.head{
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head .main-logo{
  display: flex;
  align-items: center;
}

.menu-container{
  margin-left: 30px;
  display: none;
}

.menu-container ul li:not(li:last-child){
  margin-right: 10px;
}

.menu-container li{
  margin-right: 10px;
}

/* 메뉴 호버 색깔 */
.menu-container li a:hover{
  color: #FEC100;
  text-decoration: underline;
  text-underline-offset: 5px ;
}

.head ul{
  display: flex;
}

.head .main-area{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-area nav{
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info{
  position: relative;
  display: flex;
  align-items: center;
}

.user-info div{
  padding-right: 15px;
}

.user-info div:nth-child(n+1){
  display: none;
}

.user-img{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
}

.user-img img{
  width: 36px;
  height: 36px;
}

/* user 선택박스 */
.user-btn{
  cursor: pointer;
}

.user-list{
  background: #fff;
  color: #000;
  position: absolute;
  top: 40px;
  right: -45px;
  box-shadow: 0 4px 4px  black;
  display: flex;
  flex-direction: column;
  width: 122px;
  font-size: 16px;
  border-radius: 5px;
}

.user-list a{
  color: #000;
}

.user-list li:first-child{
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.user-list li:first-child div:nth-child(2){
  font-size: 13px;
  color: #b5b5b5;
}

.user{
  padding: 10px 10px;
  cursor: pointer; 
}

.user:nth-child(n+2):hover{
  background: #cccccc7c;
}

.user-hidden{
  display: none;
}

.search-img{
  padding-left: 15px;
  display: none;
}

/* 지역 선택 박스 */

#area-box {
position: relative;
padding-right: 5px;
}

#area-button {
display: flex;
cursor: pointer;
align-items: center;
}

#area-button img {
padding-right: 5px;
}

.option-list {

background: #fff;
color: #000;

position: absolute;
top: 30px;
left: -7px;
width: 80px;

flex-direction: column;

box-shadow: 0 4px 4px black;

border-radius: 5px;
}

.option {
padding: 5px 8px;

text-align: center;
cursor: pointer;
}

.option:hover {
background: #ccc;
}

.option-hidden {
display: none;
}

/* 토글 */
.toggle{
  position: relative;
  color: #000;
}

.tog-btn {
  top: 0;
  right: 0;
}

#toggleButton{
  background: #000;
  border: none;
} 

.tog-menu {
  position: fixed;
  top: 0;
  right: -10px;
  background-color: #fff;
  flex-direction: column;
  width: 66vw;
  height: 100vh;
  display: none;
  z-index: 2;
}

.tog-menu div{
  display: flex;
  flex-direction: column;
}

.tog-menu .id-box{
  width: 100%;
  padding: 20px 20px 0px 20px;
}

.tog-menu .id{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  padding: 0px 0px 15px 0px;
}

#closeButton{
  background: none;
  border: none;
  cursor: pointer;
}

.menus{
  width: 100%;
  padding: 40px 20px 0px 20px;
  text-align: right;
}

.menus div ul{
  padding-right: 20px;
}

.menus div ul li{
  padding-bottom: 14px;
}

.menus div:first-child{
  border-bottom: 1px solid #ccc;
}

.menu a{
  color: #000;
}

.menu li{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.menu li a:hover{
  color: #08a5c0;
}

.tog-menu .menu{
  display: flex;
  flex-direction: column;
}

.as li{
  font-size: 15px;
  margin-bottom: 6px;
  color:  #ccc;
}

.tog-menu .as{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
/* 본문 */
.wrap{
  width: 90%;
  margin: 0 auto;
}
.profile-image{
  width: 80px;
  height: 80px;
  background-color: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}
.user-image{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
}
.edit-icon{
  position: absolute;
  bottom: 0;
  right: -5px;
}
.user-name{
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
}
.user-email{
  font-weight: normal;
  font-size: 14px;
  color: #B5B5B5;
  text-align: center;
}
.my-profile{
  max-width: 508px;
  width: 100%;
  padding-top: 30px;
  margin: 0 auto;
}
.tag{
  background-color: #000;
  color: #fff;
  height: 42px;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}
.profile-info{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
}
.info-box:last-child{
  border: none;
}
.info-box{
  width: 90%;
  height: 44px;
  border-bottom: 1px solid #E9E8EC;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.icon-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.info{
  font-weight: normal;
  font-size: 14px;
  line-height: 44px;
  margin-left: 10px;
}
.change-info{
  height: 18px;
  border-radius: 5px;
  font-size: 10px;
  border: none;
  padding: 3px 5px;
}
.like-list{
  max-width: 508px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
}
.thumbnail-container{
  width: 100%;
  padding: 25px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 5px 5px;
  margin-bottom: 50px;
  max-width: 508px;
}
.thumbnail-box{
  width: 100%;
  display: grid;
  grid-template-columns:repeat(2,1fr);
  grid-row-gap: 35px;
  grid-column-gap: 35px;
  margin: 0 auto;
}
.card {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: calc(182 / 130 * 100%);
  /* overflow: hidden; */
  margin-bottom: 40px;
}
.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}
.show-name{
  position: absolute;
  width: 100%;
  bottom: -40px;
  margin-top: 18px;
  font-weight: 500;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
footer{
  background-color: #000;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
}

.foot{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot p{
  margin-bottom: 6px;
}

/* 테블릿 */
@media screen and (min-width:768px){
  .my-profile{
    max-width: 764px; 
    padding-top: 30px;
    margin: 0 auto;
  }
  .like-list{
    max-width: 764px;
    padding-top: 40px;
    margin: 0 auto;
  }
  .thumbnail-container{
    max-width: 764px; 
    padding: 25px 24px;
  }
  .thumbnail-box{
    display: grid;
    grid-template-columns:repeat(3,1fr);
  }
}

/* pc */
@media screen and (min-width:1024px){
  .profile{
    display: flex;
    justify-content: space-between;
    width: 764px;
    margin: 0 auto;
  }
  .my-profile{
    margin:0;
    margin-left: 114px;
    width: 508px;
  }
  .like-list{
    width: 764px;
    padding-top: 40px;
    margin: 0 auto;
  }
  .thumbnail-container{
    padding: 34px 70px;
  }
  .thumbnail-box{
    display: grid;
    grid-template-columns:repeat(4,1fr);
  }
}
